<div class="container">
  <div class="col-lg-12" style="text-align: center;">
    <h3 style="color: #7C7C7D; padding-bottom: 25px; padding-top: 25px;">Sign up</h3>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> char minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions" style="padding-top: 15px; padding-bottom: 40px;">
        <%= f.submit "Sign up", style: "width: 175px;" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
